<% include head.ejs %>
<form action="/" method="post">
  <input type="text" name="q" onkeyup="filtering()" value="" id="search" />
  <button id="formButton" type="submit">Zoek contact</button>
</form>
<!-- hier de html contacten -->
<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/position -->
<!-- Learn about this code on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/position -->

<ul class="addressBook" id="listUl">
    <li class="letterMarker a">
        A
    </li>
    <% contacts.forEach(function(contact) { %>
        <% if (contact.first_name.match("^A")) { %>
            <li class="a">
                <a href="<%= contact.first_name %>">
                    <%= contact.first_name %>
                </a>
            </li>
    <%}}); %>
    <li class="letterMarker b">
        B
    </li>
    <% contacts.forEach(function(contact) { %>
        <% if (contact.first_name.match("^B")) { %>
            <li class="b">
                <a href="<%= contact.first_name %>">
                    <%= contact.first_name %>
                </a>
            </li>
    <%}}); %>
    <li class="letterMarker c">
        C
    </li>
     <% contacts.forEach(function(contact) { %>
         <% if (contact.first_name.match("^C")) { %>
             <li class="c">
                 <a href="<%= contact.first_name %>">
                     <%= contact.first_name %>
                 </a>
             </li>
         <% }}); %>
         <li class="letterMarker d">
             D
         </li>
          <% contacts.forEach(function(contact) { %>
              <% if (contact.first_name.match("^D")) { %>
                  <li class="d">
                      <a href="<%= contact.first_name %>">
                          <%= contact.first_name %>
                      </a>
                  </li>
              <% }}); %>

</ul>

<!-- <section>
  <dl>
    <div>
      <dt>A</dt>
      <dd>Andrew W.K.</dd>
      <dd>Apparat</dd>
      <dd>Arcade Fire</dd>
      <dd>At The Drive-In</dd>
      <dd>Aziz Ansari</dd>
    </div>
    <div>
      <dt>C</dt>
      <dd>Chromeo</dd>
      <dd>Common</dd>
      <dd>Converge</dd>
      <dd>Crystal Castles</dd>
      <dd>Cursive</dd>
    </div>
    <div>
      <dt>E</dt>
      <dd>Explosions In The Sky</dd>
    </div>
    <div>
      <dt>G</dt>
      <dd>Ged Leo &amp; The Pharmacists</dd>
      <dd>G-Pain</dd>
      <dd>Ghrice</dd>
      <dd>GV On The Radio</dd>
      <dd>Gwo Gallants</dd>
    </div>
    <div>
      <dt>I</dt>
      <dd>Ied Leo &amp; The Pharmacists</dd>
      <dd>I-Pain</dd>
      <dd>Ihrice</dd>
      <dd>IV On The Radio</dd>
      <dd>Iwo Gallants</dd>
    </div>
    <div>
      <dt>O</dt>
      <dd>Ondrew W.K.</dd>
      <dd>Opparat</dd>
      <dd>Orcade Fire</dd>
      <dd>Ot The Drive-In</dd>
      <dd>Oziz Ansari</dd>
    </div>
  </dl>
</section> -->

<% include foot.ejs %>
